*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{

}
/* Phan header */
.header{
    position: fixed;
    width: 100%;
    height: 46px;
    background-color: black;
    color: #fff;
    /* justify-content: center; */
}
.nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav a{
    min-width: 110px;
    color: #fff;
    text-decoration: none;
    /* padding: 14.5px 0; */
    height: 100%;
    display: inline-block;
    text-align: center;
    line-height: 46px;
}
.nav-option:hover{
   color: #000;
   background-color: #fff;
}
.header .nav li{
    display: inline-block;
    text-align: center;
    height: 100%;
}
.sub-nav{
    position: relative;
   
}
.more{
display:none;
position: absolute;
background-color: #fff;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.sub-nav:hover .more{
    display: block;
}
.more li a{
    color: black;
    line-height: 46px;
    display: inline-block;
    height: 46px;
}
.option1:hover{
    background-color: rgba(51, 51, 51, 0.411);
    color: #fff;
}
.search-btn{
    position: absolute;
    background-color: transparent;
    right: 1%;
}
.icon-search{
    background-color:transparent;
    color: #fff;
}
.slider{
min-height: 1000px;
background-color: #333;
}
.content{

}
.footer{

}